@import 'vars';

.card{
    margin: 15px;
    width: 30vw;
    height: 55vh;
    font-family: $fontFamily;
    font-size: $fontSizeReg ;
    border: 2px solid $lightPink;
    border-radius: 7%;
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.664);
}

.card_word{
    font-size: $fontSizeBig ;
}

.card_transcription{
    margin-top: 15px;
    margin-bottom: 5px;
}

.card_button{
    margin-top: 8vh;
    margin-bottom: 5px;
    background-color: $peach ;
    border: 2px solid rgb(224, 116, 53);
    border-radius: 5px;
    font-size: $fontSizeReg;

    &:hover{
        cursor: pointer;
    }
}

.card_translation{
    margin-top: 8vh;
    margin-bottom: 5px;
}