@import 'vars';

.header{
    width: 100vw;
    height: 16vh;
    background-color: $lightPink ;
    position: fixed;
}

.showCard_homeImage{
    width: 60px;
    margin: 10px;

    &:hover{
        border:  dashed grey;
    }
}

.header_nav{
    display: flex;
    height: 15vh;
}

.navList{
    display: flex;
    justify-content: space-around;
    width: 25vw;
}

.navList_item{
    list-style: none;
    
}

.navList_a{
    text-decoration: none;
    color: $darkGrey;
    font-size: $fontSizeReg;

    &:hover{
        text-decoration: underline;
        color: black;
    }
}