

.showCard{
    height: 83.5vh;
    border: solid grey 5px;
    border-radius: 10px;
    display: flex;
    justify-items: left;
    align-items: flex-start;
}



.showCard_card{
    display: flex;
    width: 100vw;
    height: 80vh;
    justify-content:space-around;
    align-items: center;
}

.showCard_button:disabled{
    filter: blur(2px);
}

.showCard_buttonImg{
    width: 100px;
}