@import url(https://allfont.ru/allfont.css?fonts=ubuntu);

$white: #fff;
$lightPink: rgb(230, 154, 154);
$peach: rgb(223, 135, 84);

$fontFamily: 'Ubuntu', arial;
$fontSizeReg: 0.9em;
$fontSizeBig: 1.5em;
$fontSizeSmall: 0.5em;

