@import url(https://allfont.ru/allfont.css?fonts=ubuntu);

$white: #fff;
$lightPink: rgb(230, 154, 154);
$peach: rgb(230, 144, 94);
$lightYellow: rgba(239, 241, 115, 0.753);

$fontFamily: 'Ubuntu', arial;
$fontSizeReg: 1.3em;
$fontSizeBig: 2em;
$fontSizeSmall: 0.5em;

