@import 'vars';

.wordTable{
    display: flex;
    flex-wrap: wrap;
}

.wordTable_header{
    height: 3vh;
    text-align: center;
    margin-top: 5px;
    padding-top: 1vh;
    font-family: $fontFamily;
    font-size: $fontSizeReg;
    border: 1px solid $peach;
}

.wordTable_header__num{
    margin-left: 5px;
    width: 5vw;
}

.wordTable_haeder__word{
    width: 25vw;
}

.wordTable_haeder__transcription{
    width: 25vw;
}

.wordTable_haeder__translation{
    width: 25vw;
}

.wordtable_header__empty{
    width: 13vw;
}